<div class="main-application clearfix">
  <div class="col col-4 border center user-prof">
    <%= image_tag("dummy_pic1.jpg", height: 232, width: 232) %>
  </div>
  <div class="">
    stuff
    <div class="col col-8 clearfix border">
      <div class="class col col-6 border">
          hi
      </div>
      <div class="class col col-6 border">
          hi
      </div>
    </div>
  </div>
</div>
