---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/andymond/events?access_token=76917f91134b1c487c714c69953da17697e6bed6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1521751181'
      Etag:
      - W/"7f8b8ecc04accfa27e6e246cb0956ec2"
      Last-Modified:
      - Thu, 22 Mar 2018 18:01:57 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/30162156/events?access_token=76917f91134b1c487c714c69953da17697e6bed6&page=2>;
        rel="next", <https://api.github.com/user/30162156/events?access_token=76917f91134b1c487c714c69953da17697e6bed6&page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7420941251","type":"PullRequestEvent","actor":{"id":30162156,"login":"andymond","display_login":"andymond","gravatar_id":"","url":"https://api.github.com/users/andymond","avatar_url":"https://avatars.githubusercontent.com/u/30162156?"},"repo":{"id":126070442,"name":"andymond/apicurious","url":"https://api.github.com/repos/andymond/apicurious"},"payload":{"action":"closed","number":6,"pull_request":{"url":"https://api.github.com/repos/andymond/apicurious/pulls/6","id":176863151,"html_url":"https://github.com/andymond/apicurious/pull/6","diff_url":"https://github.com/andymond/apicurious/pull/6.diff","patch_url":"https://github.com/andymond/apicurious/pull/6.patch","issue_url":"https://api.github.com/repos/andymond/apicurious/issues/6","number":6,"state":"closed","locked":false,"title":"Service
        tests","user":{"login":"andymond","id":30162156,"avatar_url":"https://avatars2.githubusercontent.com/u/30162156?v=4","gravatar_id":"","url":"https://api.github.com/users/andymond","html_url":"https://github.com/andymond","followers_url":"https://api.github.com/users/andymond/followers","following_url":"https://api.github.com/users/andymond/following{/other_user}","gists_url":"https://api.github.com/users/andymond/gists{/gist_id}","starred_url":"https://api.github.com/users/andymond/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andymond/subscriptions","organizations_url":"https://api.github.com/users/andymond/orgs","repos_url":"https://api.github.com/users/andymond/repos","events_url":"https://api.github.com/users/andymond/events{/privacy}","received_events_url":"https://api.github.com/users/andymond/received_events","type":"User","site_admin":false},"body":"*
        Add vcr gem & rails_helper config settings\r\n* Add tests for github_service
        & github_repo_service","created_at":"2018-03-22T18:01:37Z","updated_at":"2018-03-22T18:01:49Z","closed_at":"2018-03-22T18:01:45Z","merged_at":"2018-03-22T18:01:45Z","merge_commit_sha":"8785454023ee4486710c8a7947bf999f0b58aded","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/andymond/apicurious/pulls/6/commits","review_comments_url":"https://api.github.com/repos/andymond/apicurious/pulls/6/comments","review_comment_url":"https://api.github.com/repos/andymond/apicurious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/andymond/apicurious/issues/6/comments","statuses_url":"https://api.github.com/repos/andymond/apicurious/statuses/3bbca6a07aaeab8d26ff308a0a86c4adc69cc67b","head":{"label":"andymond:service-tests","ref":"service-tests","sha":"3bbca6a07aaeab8d26ff308a0a86c4adc69cc67b","user":{"login":"andymond","id":30162156,"avatar_url":"https://avatars2.githubusercontent.com/u/30162156?v=4","gravatar_id":"","url":"https://api.github.com/users/andymond","html_url":"https://github.com/andymond","followers_url":"https://api.github.com/users/andymond/followers","following_url":"https://api.github.com/users/andymond/following{/other_user}","gists_url":"https://api.github.com/users/andymond/gists{/gist_id}","starred_url":"https://api.github.com/users/andymond/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andymond/subscriptions","organizations_url":"https://api.github.com/users/andymond/orgs","repos_url":"https://api.github.com/users/andymond/repos","events_url":"https://api.github.com/users/andymond/events{/privacy}","received_events_url":"https://api.github.com/users/andymond/received_events","type":"User","site_admin":false},"repo":{"id":126070442,"name":"apicurious","full_name":"andymond/apicurious","owner":{"login":"andymond","id":30162156,"avatar_url":"https://avatars2.githubusercontent.com/u/30162156?v=4","gravatar_id":"","url":"https://api.github.com/users/andymond","html_url":"https://github.com/andymond","followers_url":"https://api.github.com/users/andymond/followers","following_url":"https://api.github.com/users/andymond/following{/other_user}","gists_url":"https://api.github.com/users/andymond/gists{/gist_id}","starred_url":"https://api.github.com/users/andymond/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andymond/subscriptions","organizations_url":"https://api.github.com/users/andymond/orgs","repos_url":"https://api.github.com/users/andymond/repos","events_url":"https://api.github.com/users/andymond/events{/privacy}","received_events_url":"https://api.github.com/users/andymond/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/andymond/apicurious","description":"Api
        consumption exercise in Rails","fork":false,"url":"https://api.github.com/repos/andymond/apicurious","forks_url":"https://api.github.com/repos/andymond/apicurious/forks","keys_url":"https://api.github.com/repos/andymond/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/andymond/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/andymond/apicurious/teams","hooks_url":"https://api.github.com/repos/andymond/apicurious/hooks","issue_events_url":"https://api.github.com/repos/andymond/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/andymond/apicurious/events","assignees_url":"https://api.github.com/repos/andymond/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/andymond/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/andymond/apicurious/tags","blobs_url":"https://api.github.com/repos/andymond/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/andymond/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/andymond/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/andymond/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/andymond/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/andymond/apicurious/languages","stargazers_url":"https://api.github.com/repos/andymond/apicurious/stargazers","contributors_url":"https://api.github.com/repos/andymond/apicurious/contributors","subscribers_url":"https://api.github.com/repos/andymond/apicurious/subscribers","subscription_url":"https://api.github.com/repos/andymond/apicurious/subscription","commits_url":"https://api.github.com/repos/andymond/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/andymond/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/andymond/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/andymond/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/andymond/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/andymond/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/andymond/apicurious/merges","archive_url":"https://api.github.com/repos/andymond/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/andymond/apicurious/downloads","issues_url":"https://api.github.com/repos/andymond/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/andymond/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/andymond/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/andymond/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/andymond/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/andymond/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/andymond/apicurious/deployments","created_at":"2018-03-20T19:18:47Z","updated_at":"2018-03-22T18:01:47Z","pushed_at":"2018-03-22T18:01:49Z","git_url":"git://github.com/andymond/apicurious.git","ssh_url":"git@github.com:andymond/apicurious.git","clone_url":"https://github.com/andymond/apicurious.git","svn_url":"https://github.com/andymond/apicurious","homepage":null,"size":796,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"andymond:master","ref":"master","sha":"8683a43e87abb1fe44334dc7b4f9d45556d77194","user":{"login":"andymond","id":30162156,"avatar_url":"https://avatars2.githubusercontent.com/u/30162156?v=4","gravatar_id":"","url":"https://api.github.com/users/andymond","html_url":"https://github.com/andymond","followers_url":"https://api.github.com/users/andymond/followers","following_url":"https://api.github.com/users/andymond/following{/other_user}","gists_url":"https://api.github.com/users/andymond[...]
