---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=76917f91134b1c487c714c69953da17697e6bed6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1521743752'
      Etag:
      - W/"ad97134de47e190bfcacc80b6db8336b"
      Last-Modified:
      - Tue, 20 Mar 2018 20:05:57 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"andymond","id":30162156,"avatar_url":"https://avatars2.githubusercontent.com/u/30162156?v=4","gravatar_id":"","url":"https://api.github.com/users/andymond","html_url":"https://github.com/andymond","followers_url":"https://api.github.com/users/andymond/followers","following_url":"https://api.github.com/users/andymond/following{/other_user}","gists_url":"https://api.github.com/users/andymond/gists{/gist_id}","starred_url":"https://api.github.com/users/andymond/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andymond/subscriptions","organizations_url":"https://api.github.com/users/andymond/orgs","repos_url":"https://api.github.com/users/andymond/repos","events_url":"https://api.github.com/users/andymond/events{/privacy}","received_events_url":"https://api.github.com/users/andymond/received_events","type":"User","site_admin":false,"name":"Andy
        Dymond","company":null,"blog":"","location":"Denver, CO","email":"andy.dymond@gmail.com","hireable":true,"bio":"Software
        Developer \r\n@ Turing School of Software and Design. ","public_repos":41,"public_gists":15,"followers":3,"following":4,"created_at":"2017-07-13T22:46:33Z","updated_at":"2018-03-20T20:05:57Z"}'
  recorded_at: Thu, 22 Mar 2018 17:35:52 GMT
recorded_with: VCR 4.0.0
