<header class="flex border-box navbar items-center" style="height: 56px;">
  <div class="octicon"><svg width="32" height="32"></svg></div>
  <input class="m2 rounded border-none" type="text" placeholder="Search GitHub">
  <ul class="list-reset flex">
    <li class="inline-block mr1"><a href="#">Pull Requests</a></li>
    <li class="inline-block mr1"><a href="#">Issues</a></li>
    <li class="inline-block mr1"><a href="#">Marketplace</a></li>
    <li class="inline-block mr1"><a href="#">Explore</a></li>
  </ul>
  <span class="bell"><svg></svg></span>
  <summary>
    <svg width="16" height="16"></svg>
    <span class="dropdown-carat"></span>
    <ul class="list-reset display-none absolute bg-white border">
      <li><a href="#" class="block p1">New Repository</a></li>
      <li><a href="#" class="block p1">Import Repository</a></li>
      <li><a href="#" class="block p1">New Gist</a></li>
      <li><a href="#" class="block p1">New Organization</a></li>
    </ul>
  </summary>
  <summary>
    <%= image_tag("dummy_pic1.jpg", height: '32', width: '32') %>
    <span class="dropdown-carat"></span>
    <ul class="list-reset display-none absolute bg-white border">
      <li>Signed in as USER</li>
      <li href="#" class="block p1">Your Profile</li>
      <li href="#" class="block p1">Your Stars</li>
      <li href="#" class="block p1">Your Gists</li>
      <li href="#" class="block p1">Help</li>
      <li href="#" class="block p1">Settings</li>
      <li href="#" class="block p1">Sign Out</li>
    </ul>
  </summary>
</header>
